<!DOCTYPE html>
<html>
    <head>
        <link href="{{ asset('bundles/malwarebytestemplate/css/layout.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="header">

        </div>
        <div class="body">
            {% block main %}

            {% endblock %}
        </div>
        <div class="footer">

        </div>
    </body>
</html>