{% extends 'MalwarebytesTemplateBundle:Template:base.html.twig' %}

{% block main %}
    <div style="letter-spacing: 0px;">
    {% for template in templates %}
        {{ template|raw }}
    {% endfor %}
    </div>
{% endblock %}